```
# Build folders
/bin/
/Debug/
/Release/
/x64/
/x86/
/[Oo]bj/
/[Bb]uild/

# Visual Studio cache & temporary files
.vs/
*.VC.db
*.VC.VC.opendb

# Compiled binaries
*.exe
*.dll
*.lib
*.pdb

# Project user-specific settings
*.vcxproj.user

# Logs
*.log

# Ignore OS-specific junk
.DS_Store
Thumbs.db
```
